# Backend Environment Variables
DATABASE_URL="postgresql://user:password@localhost:5432/job_portal?schema=public"
JWT_SECRET="your_very_secret_key_here"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Email Configuration
EMAIL_USER=""
EMAIL_PASS=""
CONTACT_EMAIL=""
APP_URL="http://localhost:3000"
