@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Retolia", "Comfortaa", sans-serif;
  --font-sans: "Comfortaa", sans-serif;
  
  --color-primary: #173E7D;
  --color-secondary: #F68D58;
  --color-accent: #DEE6E2;
}

@layer base {
  body {
    @apply font-sans antialiased bg-accent text-primary;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* PDF Layout overrides to force multi-column layout on all viewports */
/* .pdf-export {
  width: 1024px !important;
  max-width: 1024px !important;
  min-width: 1024px !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  transform: none !important;
}

.pdf-export .lg\:grid-cols-3 {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.pdf-export .lg\:col-span-2 {
  grid-column: span 2 / span 2 !important;
}

.pdf-export .md\:grid-cols-3 {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.pdf-export .md\:col-span-2 {
  grid-column: span 2 / span 2 !important;
}


.pdf-export * {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
} */